# Intermediate object files
*.o
*.os
*.so

# Opcode libraries
/lib*.*
/tclcsound.*
/csladspa.*

# Final library
/libcsound*

# SCons cache and log
/.scon*
/config.log

# Bison & Flex output
/Engine/csound_orclex.c
/Engine/csound_orcparse.[hc]
/Engine/csound_orcparse.output
/Engine/csound_prelex.c

# gettext output files are all placed in subdirs
/po/*/

# Output executables
atsa
atsa.exe
cs
cs.exe
csb64enc
csb64enc.exe
csbeats
csbeats.exe
csound
csound.exe
cstclsh
cstclsh.exe
cswish
cswish.exe
cvanal
cvanal.exe
dnoise
dnoise.exe
envext
envext.exe
extract
extract.exe
extractor
extractor.exe
het_export
het_export.exe
het_import
het_import.exe
hetro
hetro.exe
lpanal
lpanal.exe
lpc_export
lpc_export.exe
lpc_import
lpc_import.exe
mkdb
mkdb.exe
makecsd
makecsd.exe
mixer
mixer.exe
pv_export
pv_export.exe
pv_import
pv_import.exe
pvanal
pvanal.exe
pvlook
pvlook.exe
scale
scale.exe
scot
scot.exe
scsort
scsort.exe
sdif2ad
sdif2ad.exe
sndinfo
sndinfo.exe
srconv
srconv.exe
winsound
winsound.exe

# PD external
/csoundapi*.*


# C++ lib
/libcsnd*

# Python wrappers
csnd.py
csnd.pyc
_csnd.so

# CsoundAC
/libCsoundAC*
CsoundAC.py

csladspa.so

# SWIG Wrappers
*_wrap.cc
*_wrap.h
interfaces/*.java
csnd.jar
*.class

#Loris anf Perry's stuff
Opcodes/Loris/*
loris.py
Opcodes/stk/*/

# Vim swap files
*.swp

## backups
*~

## Others
TAGS
po/old_*
*.wav
##Release_Notes/*

.DS_Store
/CsoundLib64*
examples/java/CSDPlayer.jar
examples/java/CsoundEditor.jar

## Build scripts
build
buildD

## Installer Resources
installer/macosx/DmgResources
installer/macosx/201*

## Generated Doxygen
doc/html
doc/doxygen

#Generated files if running in-source CMake build
cmake_install.cmake
CMakeFiles/
Makefile
cmake_install.cmake
/cmake_uninstall.cmake
CTestTestfile.cmake
/CMakeCache.txt
/interfaces/*wrap.cxx
.dylib
/csound_orclex.c
/csound_orcparse.c
/csound_orcparse.h
/csound_orcparse.output
/csound_prelex.c
/frontends/beats.tab.c
/frontends/beats.tab.h
/frontends/beatslex.yy.c
/tests/c/*Test

*.swo
results.txt
*.pyc
Custom.cmake
Engine/.csound_orc.l.swn
Engine/.csound_orc.y.swn
*.swm
android/CSDPlayer/assets/samples/README
android/CSDPlayer/assets/samples/hrtf-44100-left.dat
android/CSDPlayer/assets/samples/hrtf-44100-right.dat
android/CSDPlayer/assets/samples/hrtf-48000-left.dat
android/CSDPlayer/assets/samples/hrtf-48000-right.dat
android/CSDPlayer/assets/samples/hrtf-96000-left.dat
android/CSDPlayer/assets/samples/hrtf-96000-right.dat
android/CSDPlayer/assets/samples/sf_GMbank.sf2
nacl/csound_orclex.c
nacl/csound_orcparse.c
nacl/csound_orcparse.h
nacl/csound_prelex.c
nacl/pnacl

# Xcode
xcshareddata/
*.xcuserstate
*.xccheckout
project.xcworkspace/
xcuserdata/
*.bz2
tests/soak/CheckSums
tests/soak/Output
Opcodes/stk/

# Emscripten
emscripten/examples/javascripts/CsoundObj.js
emscripten/examples/javascripts/libcsound.js
emscripten/dist-wasm

# Alleged copyright violation.
vst4cs/src

compile_commands.json

# cmake related files generated by qtcreator
CMakeLists.txt.user

*.autosave

# emacs autosaved files
\#*\#


# cmake / doxygen
CMakeDoxy*
CPackConfig.cmake
CPackSourceConfig.cmake
Doxyfile

# vscode
.vscode/
.cache

html
manual.zip
dist
xcode
*.nupkg
*.exe

#vcpkg
vcpkg_installed

#install dir
bin
