image: Visual Studio 2017

environment:
  ABLETON_LINK_HOME: C:\projects\csound\msvc\deps\link
  APPVEYOR_SAVE_CACHE_ON_ERROR: "true"
  APPVEYOR_RDP_PASSWORD: Vercoe123
  CsoundDepsDir: C:\projects\csound\msvc\deps\bin
  CSOUND_VERSION: 6.11.0-beta
  HDF5_HOME: C:\Program Files\HDF_Group\HDF5\1.8.19
  VCPKGDir: C:\Tools\vcpkg
  VSGENERATOR: Visual Studio 15 2017 Win64
  VSTOOLSET: v141
  VST_SDK2_HOME:  C:\projects\csound\msvc\deps\VST_SDK\VST2_SDK

platform: x64
configuration: RelWithDebInfo

init:
  - set CSOUND_HOME=%APPVEYOR_BUILD_FOLDER%
  - set PYTHON=C:\Python27-x64\python.exe
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%" == "Visual Studio 2017" call "C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Community\\VC\\Auxiliary\\Build\\vcvars64.bat"
  - if "%APPVEYOR_BUILD_WORKER_IMAGE%" == "Visual Studio 2015" call "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\bin\\amd64\\vcvars64.bat"
  # C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.12.25810\x64\Microsoft.VC141.CRT
  # C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.12.25810\x64\Microsoft.VC141.CXXAMP
  # C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.12.25810\x64\Microsoft.VC141.MFC
  # C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.12.25810\x64\Microsoft.VC141.MFCLOC
  # C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.12.25810\x64\Microsoft.VC141.OpenMP
  - set VCREDIST_CRT_DIR=C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.13.26020\x64\Microsoft.VC141.CRT
  - set VCREDIST_CXXAMP_DIR=C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.13.26020\x64\Microsoft.VC141.CXXAMP
  - set VCREDIST_OPENMP_DIR=C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Redist\MSVC\14.13.26020\x64\Microsoft.VC141.OpenMP
  - set
  - echo "Redistributable runtime libraries:"
  - dir /B /S "%VCToolsRedistDir%"
  - dir /B /S "%VCREDIST_CRT_DIR%"
  - dir /B /S "%VCREDIST_CXXAMP_DIR%"
  - dir /B /S "%VCREDIST_OPENMP_DIR%"
  - set PATH=%PATH%;%CsoundDepsDir%

install:
  - cd msvc
  - dir
  # This is so nw-gyp can build csound.node.
  - ps: Install-Product node 6.2.1 x64
  - npm install -g nw-gyp
  - nodevars.bat
  - powershell -ExecutionPolicy ByPass -File downloadDependencies.ps1 -vsGenerator "%VSGENERATOR%" -vsToolset "%VSTOOLSET%"
  - powershell -ExecutionPolicy ByPass -File generateProject.ps1 -vsGenerator "%VSGENERATOR%" -vsToolset "%VSTOOLSET%" -vstSdkHome "%VST_SDK2_HOME%
  - cd ..
  #download an unzip manual and CsoundQT for inclusion with the installer
  - cd c:/
  - ps: Start-FileDownload 'https://github.com/csound/csound/releases/download/6.10.0/Csound6.10.0_manual_html.zip'
  - cmd: 7z.exe x Csound6.10.0_manual_html.zip
  - ps: Start-FileDownload 'https://github.com/CsoundQt/CsoundQt/releases/download/0.9.5/CsoundQt-0.9.5-win64.libsndfile.zip'
  - cmd: 7z.exe x CsoundQt-0.9.5-win64.libsndfile.zip
  - ps: Start-FileDownload 'https://raw.githubusercontent.com/CsoundQt/CsoundQt/develop/images/qtcs.ico'
  - cd C:\projects\csound\

build:
  parallel: true
  project: msvc\csound-vs\Csound.sln

after_build:
  - set PATH=%PATH%;"C:\\Program Files (x86)\\Inno Setup 5"
  - iscc /dVcpkgInstalledBinDir=%VCPKGDir%\\installed\\x64-windows\\bin\\ /omsvc installer\\windows\\csound6_x64_appveyor.iss
  - 7z a csound-windows-x64-%CSOUND_VERSION%-%APPVEYOR_BUILD_NUMBER%.zip %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\RelWithDebInfo\*.exe %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\RelWithDebInfo\csound64.lib %APPVEYOR_BUILD_FOLDER%\include\ %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\RelWithDebInfo\*.dll %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\RelWithDebInfo\*.pyd %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\*.jar %APPVEYOR_BUILD_FOLDER%\msvc\csound-vs\*.py 
  - 7z l csound-windows-x64-%CSOUND_VERSION%-%APPVEYOR_BUILD_NUMBER%.zip

# Tests

test_script:
  - cmake --build msvc\csound-vs --config RelWithDebInfo --target csdtests

artifacts:
  - path: csound-windows-x64-*.zip
    name: Csound Binaries
    type: zip
  - path: msvc/Csound6_x64*.exe
    name: Csound Installer
    type: exe

cache:
 - C:\Tools\vcpkg\ -> C:\projects\csound\msvc\downloadDependencies.ps1
 - C:\projects\csound\msvc\cache

deploy:
  release: csound-$(csound_version)
  description: 'Csound Windows installer.'
  provider: GitHub
  auth_token:
    secure: puEAPJVkwT2mZwhobSNpk5LhUEP+61K9j6T66qIXKFk=
  artifact: msvc/csound-windows-x64*.exe
  draft: true
  prerelease: true
  on:
    branch: develop
    appveyor_repo_tag: true        # deploy on tag push only

notifications:
  - provider: Email
    to:
      - CSOUND-DEV@listserv.heanet.ie
    subject: 'Build {{status}}'     # optional
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: false

#  - provider: Slack
#    auth_token:
#      secure: kBl9BlxvRMr9liHmnBs14A==
#    channel: development
#    template: "{{template_variable_1}}, {{template_variable_2}}, ..."
