<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csounds.examples"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="9" />

    <application>
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".CsoundAndroidActivity" 
            android:configChanges="orientation"
			android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:label="@string/simple_test_name"
            android:name=".tests.SimpleTest1Activity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
        
        <activity
            android:label="@string/simple_test2_name"
            android:name=".tests.SimpleTest2Activity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
        
        <activity
            android:label="Button Test"
            android:name=".tests.ButtonTestActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
        
        <activity
            android:label="Ping Pong Delay"
            android:name=".tests.PingPongDelayActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
        
         <activity
            android:label="@string/haiku_name"
            android:name=".tests.CsoundHaikuIVActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
         
          <activity
            android:label="Harmonizer"
            android:name=".tests.HarmonizerActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
          
          <activity
            android:label="Accelerometer"
            android:name=".tests.AccelerometerActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
          
          <activity
            android:label="MultiTouch XY"
            android:name=".tests.MultiTouchXYActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
          
          <activity
            android:label="Waveview"
            android:name=".tests.WaveviewTestActivity"
            android:configChanges="orientation"
			android:screenOrientation="portrait"/>
            
    </application>
    
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        
 <!-- MODIFY_AUDIO_SETTINGS is needed to use audio effects such as environmental reverb -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>
