
ONLY_ACTIVE_ARCH=NO
ARCHS =  arm64 
VALID_ARCHS = arm64
IPHONEOS_DEPLOYMENT_TARGET = 12.0 
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
STRIP_INSTALLED_PRODUCT=YES
//DEBUGGING_SYMBOLS=NO
//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING=YES
GCC_PREPROCESSOR_DEFINITIONS=$(inherited) IOS=1
