//i386 is deprecated...

ONLY_ACTIVE_ARCH=NO
ARCHS = x86_64
VALID_ARCHS = x86_64
IPHONEOS_DEPLOYMENT_TARGET = 12.0 
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
//DEBUGGING_SYMBOLS=NO
STRIP_INSTALLED_PRODUCT=YES
//DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEPLOYMENT_POSTPROCESSING=YES
USER_HEADER_SEARCH_PATHS=$(inherited) /usr/local/include
GCC_PREPROCESSOR_DEFINITIONS=$(inherited) IOS=1
