{
  "env": { "es6": true, "node": true, "browser": true },
  "ignorePatterns": ["**/coverage", "**/dist", "**/node_modules", "**/*.config.js", "logger*.js"],
  "extends": ["standard", "plugin:unicorn/recommended", "plugin:ramda/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["unicorn", "ramda"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "__PROD__": "readonly"
  },
  "rules": {
    "unicorn/no-reduce": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/prefer-optional-catch-binding": "off"
  }
}
